@page
@model ShoeStoreWebApplication.Pages.Products.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.ProductId" />
            <div class="form-group">
                <label asp-for="Product.ProductNameId" class="control-label"></label>
                <select asp-for="Product.ProductNameId" class="form-control" asp-items="ViewBag.ProductNameId" ></select>
                <span asp-validation-for="Product.ProductNameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.SupplierId" class="control-label"></label>
                <select asp-for="Product.SupplierId" class="form-control" asp-items="ViewBag.SupplierId" ></select>
                <span asp-validation-for="Product.SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ManufacturerId" class="control-label"></label>
                <select asp-for="Product.ManufacturerId" class="form-control" asp-items="ViewBag.ManufacturerId" ></select>
                <span asp-validation-for="Product.ManufacturerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="control-label"></label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId" ></select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ActiveDiscount" class="control-label"></label>
                <input asp-for="Product.ActiveDiscount" class="form-control" />
                <span asp-validation-for="Product.ActiveDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.StockQuantity" class="control-label"></label>
                <input asp-for="Product.StockQuantity" class="form-control" />
                <span asp-validation-for="Product.StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.UnitOfMeasureId" class="control-label"></label>
                <select asp-for="Product.UnitOfMeasureId" class="form-control" asp-items="ViewBag.UnitOfMeasureId" ></select>
                <span asp-validation-for="Product.UnitOfMeasureId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductDescription" class="control-label"></label>
                <input asp-for="Product.ProductDescription" class="form-control" />
                <span asp-validation-for="Product.ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Photo" class="control-label"></label>
                <input asp-for="Product.Photo" class="form-control" />
                <span asp-validation-for="Product.Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
